@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap");

body {
  /* background-image: url("./images/backg.jpg"); */
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover; /* Ensures the whole image fits inside */
  background-repeat: no-repeat; /* Prevents repeating */
  background-position: center; /* Centers the image */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html {
  background-color: #efefef;
}
