/* My Account Page */
.myAccountPage {
    height: 100vh;
    color: #1c2c3d;
    font-family: Arial, sans-serif;
    padding: 30px;
}

/* Title Styling */
.myAccountPage h2 {
    font-size: 28px;
    color: #1c2c3d;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Websites Container */
.myWebsites {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    width: 90%;
    display: flex;
    flex-direction: column;
}

/* Websites Title */
.myWebsites h3 {
    font-size: 22px;
    color: #1c2c3d;
    margin-bottom: 15px;
}

/* Website List */
.websiteList {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 10px;
}

/* Individual Website Item */
.websiteItem {
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
    border-left: 5px solid #575f67;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 20%;
}

.websiteItem:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

/* Website Name */
.websiteItem div {
    font-size: 16px;
    font-weight: 500;
    margin: 5px 0;
}

.websiteItem div:first-child {
    font-size: 18px;
    font-weight: bold;
    color: #1c2c3d;
}

/* Status Badge */
.status-badge {
    font-size: 14px;
    font-weight: bold;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 8px;
}

.status-badge.generated {
    background-color: #28a745;
}

.status-badge.not-generated {
    background-color: #dc3545;
}

/* Responsive */
@media (max-width: 768px) {
    .myAccountPage {
        padding: 20px;
    }
    
    .websiteList {
        grid-template-columns: 1fr;
    }
}

/* Container for New Website Button */
.newWebsiteContainer {
    display: flex;
    margin-top: 20px;
  }
  
  /* Start New Website Button */
  .newWebsiteButton {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #4d5761;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    max-width: 250px;
    text-align: center;
  }
  
  .newWebsiteButton:hover {
    background-color: #16212b;
    transform: translateY(-2px);
  }