.upload_files_main{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:20px;
}
.upload_files_page{
  padding: 20px;
}

.file-upload-section{
  height: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.upload_title{
  font-size: 20px;
}
.upload_instruction{
  font-size: 20px;
}
.file-upload_title{
  font-size: 20px;

}
.file-upload-item{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  
}
.about_contact_section{
  position: relative;
  display: flex;
  flex-direction: row;
}

.contact_us_section{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact_us_input{
  width:75%;
  height: 50px;
  border-radius: 10px;
  border-color:  #a9caeb;
}
.about_contact_input{
  width:75%;
  height: 100px;
  border-radius: 10px;
  border-color:  #a9caeb;
}
.about_contact_input:focus {
  outline: none;  /* Remove the default outline */
}

.about_contact_button {
  width: 100px;
  padding: 10px;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: transparent; 
  border: 2px solid; 
  border-radius: 30px;
  border-color: #a9caeb;
  font-size: 16px; /* Adjust the font size */
}

.about_contact_button:hover {
  cursor: pointer;
}

.downloadTemplate{
  width: auto;
  padding: 10px;
  background-color: transparent; 
  border: 2px solid; 
  border-radius: 30px;
  border-color: #a9caeb;
  font-size: 16px;
}
