

.main_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: right; /* Centers the image */
    background-repeat: no-repeat; /* Prevent the background from repeating */
    position: relative;
    gap:10px;
    padding-top:20px;
}

.welcome-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.start_button{
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border-color: transparent;
    background-color: #FFC147;
}

.start_button:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for effect */

}

  .error-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);  /* Semi-transparent overlay */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .error-popup {
    position: relative;

    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
 
  .error-popup h3 {
    margin-bottom: 10px;
  }
  
  .error-popup p {
    margin-bottom: 10px;
  }