@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap");

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #1c2c3d;
  padding: 80px 20px;
}

.welcome {
  font-family: "Oswald", sans-serif;
  font-size: 60px; /* Adjust size as needed */
  font-weight: 600; /* Bold look */
}
.welcome_message {
  font-weight: 500;
}

.main-section {
  max-width: 800px;
}

.text-content h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.text-content p {
  font-size: 20px;
  margin-bottom: 30px;
}

.start-button {
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  background-color: #d79f2f;
  color: #1c2c3d;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.start-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.error-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-popup {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-popup {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
