/* General Page Styling */
.choose_components_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #1c2c3d;
  font-family: Arial, sans-serif;
  /* margin-top: 20px; */
}

/* Intro Card */
.intro_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
  width: 50%; /* Adjusted width */
}

/* Input Fields */
.input_name_domain {
  width: 60%; /* Smaller width */
  height: 30px; /* Increased height */
  font-size: 16px;
  padding: 5px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
}

/* Continue Button */
.continue_button {
  padding: 8px 16px; /* Smaller button */
  margin-top: 10px;
  background: #ffc147;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px; /* Smaller font */
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(31, 51, 71, 0.8);
  transition: background 0.5s ease, border 0.5s ease, box-shadow 0.5s ease; /* Smooth transition */
}

.continue_button:hover {
  background: rgba(228, 240, 247, 0.3);
  border: 1px solid rgba(31, 51, 71, 1);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/* Sidebar Layout */
.main_layout {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 200px;
  padding: 10px;
  height: 100vh;
  background: rgba(31, 33, 66, 0.1);
  /* margin-top: 40px; */
  border-radius: 0 20px 0 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  color: #1c2c3d;
  transition: background 0.3s ease;
}

.sidebar li:hover .selected {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
.sidebar li.selected {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.content {
  flex: 1;
  padding: 20px;
  /* margin: 20px; */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.input_name_domain.error_domain {
  border: 1.5px solid #b50c0c;
}
.domain-error-message {
  font-size: 12px;
  color: #b50c0c;
  margin-top: 4px; /* Adds some space between the input and the error message */
}

.domain_section {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  width: 70%;
  position: relative;
}
.input_name_domain.edit {
  width: 60%;
  /* background: rgba(255, 255, 255, 0.1); */
  background: rgba(255, 255, 255, 0.45);
}
.input_name_domain {
  width: 60%;
  /* background: rgba(255, 255, 255, 0.1); */
  background: rgba(255, 255, 255, 0.45);
}

.save_domain_name_button,
.save_template_button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 10px;
  border-radius: 20px;
  /* width: 15%; */
  min-width: 130px;
  height: 30px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(31, 51, 71, 0.8);
  transition: background 0.5s ease, border 0.5s ease, box-shadow 0.5s ease; /* Smooth transition */
}
.save_template_button {
  bottom: 0px;
  right: 10px;
  /* width: 10%; */
}

.save_domain_name_button:hover,
.save_template_button:hover {
  background: rgba(228, 240, 247, 0.3);
  border: 1px solid rgba(31, 51, 71, 1);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.input_container {
  position: relative;
  margin-bottom: 10px;
}
.template_section_choose {
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  gap: 20px;
  padding: 10px;
}
.floating_label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #818e97;
  background: rgba(255, 255, 255, 0.1);
  padding: 0 5px;
  pointer-events: none;
  opacity: 0; /* Initially hidden */
  transition: all 0.3s ease-in-out;
}

.input_name_domain:focus {
  border: none; /* No border */
  outline: none; /* No default focus outline */
  box-shadow: none; /* Prevent any shadow */
}
/* Show label only when input is focused */
.input_name_domain:focus + .floating_label {
  opacity: 1;
  top: 5px;
  font-size: 12px;
  color: #25272a;
}

.components_section {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  width: 70%;
  position: relative;
  gap: 20px;
}

.template {
  width: fit-content; /* Make it responsive */
  height: 200px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  padding: 30px; /* Hide any overflow */
}

.template:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.template.selected {
  border: 2px solid #1c2c3d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Content Sidebar (Opens when 'Manage Content' is Clicked) */
.content-sidebar {
  position: fixed;
  left: 200px; /* Places it right next to the main sidebar */
  top: 0;
  height: 100vh;
  width: 220px;
  background: rgba(31, 33, 66, 0.1);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: transform 0.3s ease-in-out;
}

.content-sidebar ul {
  list-style: none;
  padding: 0;
}

.content-sidebar li {
  padding: 10px;
  cursor: pointer;
  color: #1c2c3d;
  font-size: 14px;
  font-weight: 500;
  transition: background 0.3s ease;
  border-radius: 5px;
}

.content-sidebar li:hover {
  background: rgba(31, 33, 66, 0.1);
}

.content-sidebar li.active {
  background: #ffc147;
  color: white;
  font-weight: bold;
}

/* Expandable Content Section */
.content-submenu {
  list-style: none;
  padding-left: 20px; /* Indent sub-items */
  margin-top: 5px;
  transition: all 0.3s ease-in-out;
}

.content-submenu li {
  padding: 8px;
  cursor: pointer;
  color: #1c2c3d;
  font-size: 14px;
  border-radius: 5px;
}

.content-submenu li:hover {
  background: rgba(31, 33, 66, 0.1);
}

.content-submenu li.active {
  background: #ffc147;
  color: white;
  font-weight: bold;
}

.media_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
  /* max-width: 400px; */
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s ease-in-out;
}

.media_item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
}
.media_item_upload {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.media_label {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.media_input {
  width: 80%;
  padding: 8px;
  border-radius: 5px;
  /* background: rgba(255, 255, 255, 0.1); */
  background: rgba(255, 255, 255, 0.45);

  text-align: center;
}

.media_button {
  border-radius: 20px;
  /* width: 15%; */
  min-width: 100px;
  height: 30px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(31, 51, 71, 0.8);
  transition: background 0.5s ease, border 0.5s ease, box-shadow 0.5s ease; /* Smooth transition */
}

.media_button:hover {
  background: rgba(228, 240, 247, 0.3);
  border: 1px solid rgba(31, 51, 71, 1);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* About Us & Contact Us Section */
.about_contact_section,
.contact_us_section {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 64%;
  max-width: 900px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s ease-in-out;
}

.about_contact_input,
.contact_us_input {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  /* background: rgba(255, 255, 255, 0.1); */
  background: rgba(255, 255, 255, 0.45);
  border: none;
}
.about_contact_input:focus,
.contact_us_input:focus,
.input_parti:focus {
  border: none; /* No border */
  outline: none; /* No default focus outline */
  box-shadow: none; /* Prevent any shadow */
}
.about_contact_input.textarea {
  width: 97%;
  height: 150px; /* Adjust height as needed */
  font-size: 16px;
  border-radius: 5px;
  /* background: rgba(255, 255, 255, 0.1); */
  background: rgba(255, 255, 255, 0.45);

  text-align: left; /* Align text to the left */
  vertical-align: top; /* Ensures text starts from the top */
  resize: none; /* Allows user to resize the textarea vertically */
}

.about_contact_button {
  position: absolute;
  bottom: 15px;
  right: 35px;
  border-radius: 20px;
  width: 10%;
  height: 30px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(31, 51, 71, 0.8);
  transition: background 0.5s ease, border 0.5s ease, box-shadow 0.5s ease; /* Smooth transition */
}

.about_contact_button:hover,
.add-row-button:hover,
.generate_button:hover {
  background: rgba(228, 240, 247, 0.3);
  border: 1px solid rgba(31, 51, 71, 1);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.input_container {
  position: relative;
  width: 100%;
  padding-bottom: 20px;
}

.floating_label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 16px;
  color: transparent;
  background: transparent;
  padding: 0 5px;
  pointer-events: none;
  opacity: 0; /* Initially hidden */
  transition: all 0.3s ease-in-out;
}

.about_contact_input:focus + .floating_label,
.contact_us_input:focus + .floating_label,
.about_contact_input:not(:placeholder-shown) + .floating_label,
.contact_us_input:not(:placeholder-shown) + .floating_label {
  opacity: 1;
  top: 0px;
  font-size: 12px;
  color: #25272a;
}

/* Hide placeholder when input or textarea is focused */
.about_contact_input:focus::placeholder,
.contact_us_input:focus::placeholder {
  visibility: hidden;
}

.participants-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.participants-table th,
.participants-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.participants-table th {
  background: rgba(31, 33, 66, 0.2);
  font-weight: bold;
  color: #1c2c3d;
}

.participants-table tr:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* Center align checkboxes */
.participants-table input[type="checkbox"] {
  display: block;
  margin: 0 auto;
  margin-left: 31px;
}
.add-row-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  /* width: 15%; */
  min-width: 170px;
  height: 30px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(31, 51, 71, 0.8);
  transition: background 0.5s ease, border 0.5s ease, box-shadow 0.5s ease; /* Smooth transition */
}
.generate_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  height: 30px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(31, 51, 71, 0.8);
  transition: background 0.5s ease, border 0.5s ease, box-shadow 0.5s ease; /* Smooth transition */
}

.add-participant-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  width: 50%;
  margin: 20px auto;
}

.add-participant-form label {
  font-size: 14px;
  font-weight: bold;
  color: #1c2c3d;
}

.add-participant-form input,
.add-participant-form select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  font-size: 16px;
  color: #1c2c3d;
}

.input_parti {
  background: rgba(255, 255, 255, 0.1);
  border: none;
}

/* Modal Background */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Box */
.modal-content {
  background: rgb(213, 213, 213);
  padding: 20px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Modal Input Fields */
.modal-content-item {
  width: 90%;
  padding: 10px;
  margin-top: 8px;
  border: 1px solid #1c2c3d;
  border-radius: 5px;
  background-color: transparent;
}
.modal-content-item-select {
  width: 96%;
  padding: 10px;
  margin-top: 8px;
  border: 1px solid #1c2c3d;
  border-radius: 5px;
  background-color: transparent;
}

/* Modal Buttons */
.modal-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

.modal-buttons .modal-buttons-add_member {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.modal-buttons .modal-buttons-add_member {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  height: 30px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(31, 51, 71, 0.8);
  transition: background 0.5s ease, border 0.5s ease, box-shadow 0.5s ease; /* Smooth transition */
}

/* Smooth Modal Fade-in Effect */
.modal-overlay {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Style for the delete button */
.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px; /* Adjust size */
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.delete-button svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition: fill 0.3s ease;
}

.delete-button:hover {
  transform: translateY(-2px);
}

.generate_section_button {
  display: flex;
  justify-content: center;
}

.modal-buttons .x-button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px; /* Increased from 35px */
  height: 40px; /* Increased from 35px */
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px; /* Increased from default size */
  color: #555555;
  transition: color 0.3s ease;
}

.modal-buttons .x-button:hover {
  color: #000;
}
/* Specific Style for the Add Button */
.modal-buttons .save_button .modal-buttons-add_member {
  background-color: rgba(255, 255, 255, 0.1);
  color: black;
  border: 1px solid rgba(31, 51, 71, 0.8);
}
/* Specific Style for the Cancel Button */

/* Hover Effect */
.modal-buttons-add_member:hover,
.delete-button:hover {
  background: rgba(228, 240, 247, 0.3);
  color: black;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/* ChooseComponentsPage.css */
.error_domain {
  border: 2px solid red;
}

.error_message {
  color: red;
  font-size: 0.9rem;
  margin-top: 4px;
}

.creator_info_card {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  .map_container {
    width: 100%;
    min-height: 360px;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  width: 50%;
  animation: fadeIn 0.5s ease-in-out;
  gap: 10px;
  position: relative;
}

.input_creator_info {
  width: 60%;
  height: 30px;
  font-size: 16px;
  padding: 5px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  background: rgba(255, 255, 255, 0.45);
}
.map_container {
  width: 100%;
  max-width: 100%;
  height: 360px;
  height: 360px;
  border-radius: 8px;
  overflow: hidden;
}

.domain-input-group {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  width: 61%;
  margin-top: 8px;
}

.domain-prefix {
  display: flex;
  align-items: center; /* vertically center text */
  justify-content: center; /* horizontally center text */
  background: rgba(255, 255, 255, 0.45);
  padding: 5px 0 5px 5px;
  border: none;
  border-right: none;
  border-radius: 5px 0 0 5px;
  font-family: monospace;
  color: #555;
  height: 30px;
  align-self: start;
}

.input_suffix {
  flex: 1;
  padding: 5px 5px 5px 0;
  height: 30px;
  border: none;
  border-radius: 0 5px 5px 0;
  font-family: monospace;
  background: rgba(255, 255, 255, 0.45);
}
.input_suffix:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.error_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid #b50c0c;
  border-radius: 5px;
}
.leaflet-container {
  border-radius: 10px;
  height: 400px;
}
.error-message {
  position: absolute;
  top: -17px; /* slightly above the input */

  color: #b50c0c;
  font-size: 12px;
  padding: 0 2px;
  border-radius: 10px;
  line-height: 16px;
  height: 20px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.gallery_list_section {
  padding: 15px;
  border-radius: 8px;
}

.gallery_list {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  overflow: hidden;
}

.gallery_list_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  transition: background-color 0.2s ease;
}

.gallery_list_item:last-child {
  border-bottom: none;
}

.gallery_list_item:hover {
  background: rgba(255, 255, 255, 0.45);
}

.gallery_list_item.pending {
  background: rgba(255, 255, 255, 0.1);
  border-left: 4px solid #535353;
}

.gallery_list_item.pending:hover {
  background: rgba(255, 255, 255, 0.45);
}

.gallery_list_item.saved {
  background: rgba(255, 255, 255, 0.1);
  border-left: 4px solid #535353;
}

.gallery_list_item.saved:hover {
  background: rgba(255, 255, 255, 0.45);
}

.image_name_clickable {
  flex: 1;
  color: #007bff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s ease;
  user-select: none;
}

.image_name_clickable:hover {
  color: #0056b3;
  text-decoration: underline;
}

.remove_x_btn,
.delete_x_btn {
  background: none;
  border: none;
  color: #5c5c5c;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 50%;
  transition: all 0.2s ease;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove_x_btn:hover,
.delete_x_btn:hover {
  color: rgb(0, 0, 0);
  transform: scale(1.1);
}

.gallery_empty {
  text-align: center;
  padding: 40px;
  color: #666;
  font-style: italic;
  border-radius: 8px;
  margin-top: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.overlay-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.overlay-content img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.close-button {
  position: absolute;
  top: -50px;
  right: -50px;
  border: none;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background: transparent;
  transition: all ease 0.3s;
}
.close-button:hover {
  transform: translateY(-2px);
}
