.header{
  display: flex;
  flex-direction: row;
  margin: 15px;
  align-items: center;
  gap:20px
}
.header_logo{
  height: 50px;
  width: 50px;
}
.header_title{
  font-size: 45px;
  font-weight:500;
  padding-right: 200px;
}
.navbar {
  display: flex;
  flex-direction: row;
  background-color: #D9D9D9;
  border-radius: 30px;
  width: 450px;
  height: 20px; /* Height of navbar */
  padding: 10px;
  overflow-x: scroll; /* Allow horizontal scrolling */
  white-space: nowrap; /* Prevent items from wrapping */
  position: relative; /* For positioning the items */
  transition: transform 3s ease; /* Smooth scrolling transition */
  align-items: center;
}

.navbar::-webkit-scrollbar {
  display: none;
}


.navbar-item {
  cursor: pointer;
  flex-shrink: 0; /* Prevent items from shrinking */
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  color: rgb(64, 64, 64);
}

/* Hover effect for items */

.navbar-item-button{
  background-color: transparent;
  border: none;
}

.navbar-item-button:hover {
  color: black;

}
.icon_photo{
  height: 40px;
  width: 40px;
}

.menu {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  margin-right: 15px;
  background-image: url("../../images/account_avatar.svg");

}
.hidden-box {
  display: none;  /* Initially hidden */
  position: absolute;
  left: -100%;
  background-color: white;
  padding: 20px;
  width: 150px; /* Adjust width as needed */
  border-radius: 10px; /* Rounded corners to match the shape of the menu */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for effect */
  transform: translateX(-70%) translateY(10px); /* Adjust horizontally */
  z-index: 1;
}
.menu:hover .hidden-box {
  display: block;

}
.personal_menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
}


.hr_line{
  height: 1px;
  width: 100%;
  background-color: gray;
}

.choose_item{
  width: 100%;
}

.logout_button{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:10px;
  background-color: transparent;
  border-color: transparent;
  font-size: 14px;
  border-radius: 10px;
  width:100%;
  justify-content: center;
  padding: 10px;

}

.logout_button:hover{
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for effect */
}

.my_sites_button{
display: flex;
flex-direction: row;
align-items: center;
gap:10px;
background-color: transparent;
border-color: transparent;
font-size: 14px;
border-radius: 10px;
width:100%;
justify-content: center;
padding: 10px;

}

.my_sites_button:hover{
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for effect */
}

.login_button{
display: flex;
flex-direction: row;
align-items: center;
gap:10px;
background-color: transparent;
border-color: transparent;
font-size: 14px;
border-radius: 10px;
width:100%;
justify-content: center;
padding: 10px;
}

.login_button:hover{
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for effect */
}

.my_sites_icon{
width: 18px;
height: 18px;
}