.HomePage{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.subTitle{
    font-size: 20px;
}

.main_section_homePage{
    margin: 20px 50px 50px 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap:30px;
}
.homeImg{
    background-color: #C4D2E5;
    height: 300px;
    border-radius: 20px;
    
}